{% extends 'base_foot.html' %}

{% block body %}

    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到瞎几把玩!</div>
			<div class="fr">
				{% if request.session.user_name|default:'' != '' %}
				<div class="login_btn fl">欢迎您：<em>{{ request.session.user_name }}</em>
                    <span>|</span>
                    <em><a href="{% url 'login' %}">退出</a></em>
				</div>
				{% else %}
				<div class="login_btn fl">
					<a href="{% url 'login' %}">登录</a>
					<span>|</span>
					<a href="{% url 'register' %}">注册</a>
				</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user_info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'show_order' %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>


    <div class="search_bar clearfix">
		<a href="{% url 'index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
        {% if page_name == 1 %}
            <div class="sub_page_name fl">&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>
        {% endif %}
		<div class="search_con fl">
             <script>
                $(function () {
                    $('.input_btn').click(function () {
                        q = $('.input_text').val();
                        if(q==""){
                        alert("请输入搜索内容");
                        }
                        else{
                            location.href = '{% url "search" %}?q='+q+'&page=1'
                        }
                    })
                })

            </script>
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		{% if guest_cart == 1 %}
            <div class="guest_cart fr">
                <a href="{% url 'cart' %}" class="cart_name fl">我的购物车</a>
                <div class="goods_count fl" id="show_count">{{ cart_num }}</div>
            </div>
		{% endif %}
	</div>


{% block content %}

{% endblock content %}
{% block center_body %}

{% endblock center_body %}

{% endblock body %}