<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>瞎几把玩</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>

    {% block head %}{% endblock head %}
</head>
<body>

{% block body %}{% endblock body %}

<div class="footer no-mp">
	<div class="foot_link">
		<a href="https://www.baidu.com">关于我们</a>
		<span>|</span>
		<a href="https://talent.alibaba.com/">联系我们</a>
		<span>|</span>
		<a href="https://talent.alibaba.com/">招聘人才</a>
		<span>|</span>
		<a href="https://mh.tiancity.com/homepage/v7/">友情链接</a>
	</div>
	<p>AID2004 © 2020 瞎几把玩 Python is the best language</p>
	<p>电话：***-*******    京ICP备********号</p>
</div>

</body>
</html>